
<% unless current_user%>
<h6>Testing branch</h6>

    <h1>Welcome to FakeBook!</h1>

    <h2>Featuring over <%= @users.size - 1 %> users worldwide! </h2>

            <%= link_to 'Sign up', new_user_registration_url %>
            <br> <br>
            <%= link_to 'Sign in', new_user_session_url %>

<% else %>
<h6>Testing branch</h6>

<h6>Featuring over <%= @users.size - 1 %> users worldwide! </h6>
<% if current_user.friend_requests.any?%>
    You have incoming friend requests.
    <%=link_to 'See them now!', "/users/#{current_user.id}"%>
<%end%>

    <h1>Hey <%=current_user.name%>! Welcome to your news feed! </h1>

    <%= render "posts/form"%>
    <% @posts_to_show.each do |post|%>
        <% if post.user.avatar.attached?%>
            <img src="<%=(url_for(post.user.avatar))%>" width="20" height="20">
        <% end %>
            <% if post.updated_at == post.created_at %>
                <%= "Posted by #{post.user.name} at #{post.created_at}: "%><br>
            <% else%>
                <%= "Edited by #{post.user.name} at #{post.updated_at}: "%><br>
            <%end%>

            <% if post.body.length > 140%>
                <%= link_to "#{post.body[0..50]}...", "/posts/#{post.id}"%>
            <%else%>
            <%= post.body%>
            <%end%> <br>
            <%= link_to "Like", "/posts/#{post.id}/likes#create", method: :create %> | <%= "#{post.likes.size} likes"%><br><br>

            <%= link_to "Comments(#{post.comments.size})", "/posts/#{post.id}" %><br><br>
    <%end%>


        <h3>People you may know:</h3>
            <% @users.each do |user|%>
                <% unless current_user.friends.include?(user) || current_user.inverse_friends.include?(user)%>

                        <% unless user.id == current_user.id%>
                                <% already_requested = false%>
                                    <% user.friend_requests.each do |request|%>
                                        <% if request.requester_id == current_user.id%>
                                        <%already_requested = true%>
                                        <% end%>
                                    <% end %>
                                        <% current_user.friend_requests.each do |request|%>
                                        <% if request.requester_id == user.id%>
                                        <%already_requested = true%>
                                        <% end%>
                                    <% end %>
                                    <% unless already_requested%>
                                        <%= user.name%> 
                                        <%= form_with url: "friend_requests#create", model: @friend_request, method: :post do |form| %>

                                                <%= form.hidden_field :requester_id, value: current_user.id %>
                                                <%= form.hidden_field :target_id, value: user.id %>

                                                <%= form.submit "Become friends!" %>
                                                        <br> <br>

                                            <% end %> 
                                    <%end%>
                        <% end%>
                <%end%>
        

    <%end%>

<%end%>



