<%= current_user.email%>


<h1>Your homepage </h1>

<% @user.posts.each do |post|%>
    <article>
        <%= post.user.email%><br>
        <%= post.body%><br>
        Created at: <%= post.created_at%><br>
            <%unless post.created_at == post.updated_at%>
                Edited at: <%= post.updated_at%>
            <% end %>
<br><br>
    </article>
<% end %>









<%= link_to 'Create new post', new_post_url%>