<%= current_user.email%>
<% if @user.friend_requests.any?%>
    <% @user.friend_requests.each do |request| %>
        <%  if request.target.id == @user.id %>
                <%= form_with model: @friendship, method: :post do |form| %>

                    <%= form.hidden_field :user_id, value: request.requester.id %>
                    <%= form.hidden_field :friend_id, value: current_user.id %>

                    <%= form.submit "accept request from #{request.requester.name}" %>
                <% end %>
        <% end %>
    <%end%>
<%end%>

<h1>Your homepage, <%= @user.name%> </h1>

<% @user.posts.each do |post|%>
    <article>
        <%= post.user.email%><br>
        <%= post.body%><br>
        Created at: <%= post.created_at%><br>
            <%unless post.created_at == post.updated_at%>
                Edited at: <%= post.updated_at%>
            <% end %>
<br><br>
    </article>
<% end %>



<%= link_to 'Create new post', new_post_url%>


    <h2>Your friends! </h2>
        <% @user.friends.each do |friend|%>
        <article>
        <p>
        <%= friend.name%>
        </p>
        <%end%>