

<%= current_user.email%>
<% if @user.friend_requests.any?%>
    <% @user.friend_requests.each do |request| %>
        <%  if request.target.id == @user.id %>
                <%= form_with model: @friendship, method: :post do |form| %>

                    <%= form.hidden_field :user_id, value: request.requester.id %>
                    <%= form.hidden_field :friend_id, value: current_user.id %>

                    <%= form.submit "accept request from #{request.requester.name}" %>
                <% end %>
        <% end %>
    <%end%>
<%end%>

<h1>Your profile page, <%= @user.name%> </h1>

<%= link_to 'Edit your profile', edit_user_registration_url%>

<br>
<%if @user.avatar.attached?%>
    <img src="<%=(url_for(@user.avatar))%>" width="200" height="200">
<%end%>



    <h2>Your friends! </h2>
        <% @user.friends.each do |friend|%>
        <article>
        <p>
        <%= friend.name%>
        </p>
        <%end%>
         <% @user.inverse_friends.each do |friend|%>
        <article>
        <p>
        <%= friend.name%>
        </p>
        <%end%>