<%= current_user.email%>


<h1>Your homepage </h1>

<% @user.posts.each do |post|%>
    <article>
        <%= post.user.email%>
        <%= post.body%>
        Created at: <%= post.created_at%>
            <%unless post.created_at == post.updated_at%>
                Edited at: <%= post.updated_at%>
            <% end %>

    </article>
<% end %>









<%= link_to 'Create new post', new_post_url%>